include includes/mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="date=no">
        <meta name="format-detection" content="address=no">
        <meta name="format-detection" content="email=no">
        <meta content="notranslate" name="google">
        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/manifest.webmanifest">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
        <meta name="Description" content="Тестовое задание на frontEnd">
        <meta name="theme-color" content="#ffffff">
        <title>Toxin</title>
    body.cv-page
        //- тут наша страница
        .cv-page__page-header
            +header('', 'standart')
        .cv-page__page-main
            .form-registration-wrapper.form-registration-wrapper_hiden
                +form-registration()
            .form-login-wrapper.form-login-wrapper_hiden
                +form-login()
            //- lp1
            section.landing-page1
                ul.pgwSlider
                    li
                        img(src="img/lp1-min.jpg")
                    li
                        img(src="img/lp2-min.jpg")
                    li
                        img(src="img/lp3-min.jpg")
                .form-select-wrapper
                    +form-select()
                .slogan
                    p="Лучшие номера для вашей работы, отдыха и просто вдохновения"
            //- страница фильтра
            section.filter-page.filter-page_hiden
                aside.filter-page__filter
                    .filter-page__date
                        h3='Даты пребывания в отеле'
                        +range-date-select('','','single')
                    .filter-page__guest
                        +dropdown("гости","Сколько гостей", "drop4", "guest")
                            +dropdown__content('Взрослые')
                            +dropdown__content('Дети')
                            +dropdown__content('Младенцы')
                    .filter-page__slider
                        .range-slider__waper
                            .range-slider__output-wraper
                                h3.range-slider__title='Диапазон цены'
                                .range-slider__output="999"
                            +range-slider()
                        p='Стоимость за сутки пребывания в номере'
                    .filter-page__option
                        h3='Дополнительные опции'
                        +checkbox("вот так вот", 'check1')
                            p="Можно курить"
                        +checkbox("вот так вот", 'check2')
                            p="Можно с питомцами"
                        +checkbox('' ,'check3')
                            p="Можно приглаcить гостей (до 10человек)"
                    .filter-page__availability
                        h3='Доступность'
                        +checkbox('' ,'check5', 'reach')
                            p="Широкий коридор"
                            p="Ширина коридоров в номере не менее 91 см."
                        +checkbox('' ,'check4', 'reach')
                            p="Помощник для инвалидов"
                            p="На 1 этаже вас встретит специалист  и проводит до номера."
                    .filter-page__amenities
                        +dropdown("Удобства номера", "Сколько помещений", "drop1", "standart")
                            +dropdown__content('Спальни')
                            +dropdown__content('Госстинные')
                            +dropdown__content('Ванные комнаты')
                    .filter-page__convenience
                        +expand-checkbox-list("Дополнительные удобства", "expand-checkbox-list2", "standart")
                            +checkbox("вот так вот", 'check6')
                                p="Девочки"
                            +checkbox("вот так вот", 'check7')
                                p="Мальчики?"
                article.filter-page__filter-result
                    h1.filter-page__header='Номера, которые мы для вас подобрали'
                    .items-conteiner
                        +item-card()
                        +item-card()
                        +item-card()
                        +item-card()
                        +item-card()
                        +item-card()
                        +item-card()
                        +item-card()
                        +item-card()
                        +item-card()
                        +item-card()
                    .filter-page__paginator
                        +paginator()
        .cv-page__rectangle
        .cv-page__footer
            +footer()
        script(src='./main.js')
