include includes/mixins.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="date=no">
        <meta name="format-detection" content="address=no">
        <meta name="format-detection" content="email=no">
        <meta content="notranslate" name="google">
        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>Главная</title>
    body.cv-page
        //- тут наша страница
        .cv-page__header
            +header('', 'standart')
        .cv-page__page-main
            +dropdown("dropdown1", "Сколько помещений", "drop1", "standart")
                +dropdown__content('Спальни')
                +dropdown__content('Госстинные')
                +dropdown__content('Ванные комнаты')
            +dropdown("dropdown2","Сколько гостей", "drop2", "guest")
                +dropdown__content('Взрослые')
                +dropdown__content('Дети')
                +dropdown__content('Младенцы')
                .dropdown__button-block
                    .dropdown__button-clear
                        +button("очистить", "icon-link, icon-link_gray")
                    .dropdown__button-submit
                        +button("применить", "icon-link, icon-link_purple")
            +checkbox("вот так вот", 'check1')
                p="Можно приглаcить гостей (до 10человек)"
            +checkbox("вот так вот", 'check2')
                p="второй"
            +expand-checkbox-list("expandable checkbox list", "expand-checkbox-list1", "standart")
                +checkbox("вот так вот", 'check4')
                    p="Можно приглаcить гостей (до 10человек)"
                +checkbox("вот так вот", 'check5')
                    p="второй"
            +expand-checkbox-list("expandable checkbox list", "expand-checkbox-list2", "standart")
                +checkbox("вот так вот", 'check6')
                    p="Можно приглаcить гостей (до 10человек)"
                +checkbox("вот так вот", 'check7')
                    p="второй"
            +checkbox('' ,'check3', 'reach')
                p="Будут гости!"
                p="Можно приглаcить гостей (до 10человек)"
            div(style="display: flex")
                +radio('radio1','radioblock1')
                    span='Мужчина'
                +radio('radio2','radioblock1')
                    span='Женщина'
            +radio('radio3','radioblock2')
                span='Большой'
            +radio('radio4','radioblock2')
                span='Маленький'



        script(src='./main.js')